<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../../layout/head') %>
</head>
<body>
    <!-- Top Navigation Menu -->
    <%- include ('../../layout/header') %>
    <header>
      <h1>Details</h1>
    </header>
    <main id="indexMain">
        <div class="container">
        <%- include ('./detail') %>
        <button class="two-button"> Update Details </button>
        <div id="update">
          <%- include ('./edit') %>
        </div>
        <form action="/delete/<%= data.id%>?_method=delete" method="POST">
          <button class="two-button del-button"> Delete Book</button>
        </form>    
      </div>
    </main>
    <script>
        function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
        </script>
</body>
</html>
